@media all and (max-width:495px){
.content_inner{width:95%; margin:10px auto;}
.footer a.main{display:block; width:100%; text-align:center; margin-left:0; float:none;}
.footer ul{display:block; float:none; margin:0 auto; width:200px;}
.video{width:95%; margin:0 auto;}
.logo img{width:80%;}
.author{margin-left:0;}
.author_img{width:40%; float:right;}
.author_img img{width:100%;}
input#txt{width:52%;}
.heading{float:none; margin:0 auto; text-align:center;}
p.vid_caption{font-size:12px; white-space:nowrap;}	
input#sbmt{ font-size:13px;}
.author p{text-align:left;}
}
@media all and (max-width:460px){

.author_img{width:35%; float:right;}
input#txt{width:90%; float:none; margin: 10px auto; display:block;}
input#sbmt{ font-size:13px; width:60%; float:none; margin:10px auto; display:block;}
	
}
@media all and (max-width:410px){
	input.add_to_contact{font-size:14px;}
	.author_img{width:30%; float:right;}
	.author_detail h1{font-size:120%;}
	.author_detail h2{font-size:100%;}
}


@media all and (max-width:380px){	
input#txt{width:95%; margin:5px auto; float:none;}
input.add_to_contact{width:60%; margin:0px auto; float:none;}
.author_img {margin-top:2%;}
.contact_info li img{width:95%;}
.contact_info li{width:22%;}

}
@media all and (max-width:340px){
	.author_detail h1{font-size:100%;}
	.author_detail h2{font-size:90%;}
}