@charset "utf-8";
@font-face { font-family: 'Conv_Code Pro LC'; src: url('../fonts/Code Pro LC.eot'); src: local('☺'), url('../fonts/Code Pro LC.woff') format('woff'), url('../fonts/Code Pro LC.ttf') format('truetype'), url('../fonts/Code Pro LC.svg') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_Code Pro Black LC'; src: url('../fontface/Code Pro Black LC.eot'); src: local('☺'), url('../fonts/Code Pro Black LC.woff') format('woff'), url('../fonts/Code Pro Black LC.ttf') format('truetype'), url('../fonts/Code Pro Black LC.svg') format('svg'); font-weight: normal; font-style: normal; }


html{width:100%; height:100%;}
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{margin:0;padding:0; font-size:100%;}
header, footer,nav,section, article{display:block;}
a,a:link{display:inline; text-decoration:none;}
fieldset,img{border:0}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
a img{border:none; outline:none;}
.clear{clear:both;font-size:1px; display:table;}

body{background:#fff url(../images/tile-bg.jpg) repeat; font-family: 'Conv_Code Pro LC', Arial, Helvetica, sans-serif; -webkit-text-size-adjust:none;}
.container{max-width:500px; margin:10px auto; background:#fff; border:1px solid #dbebfa;}
.header{
	width:100%;
	padding:10px 0;
	background:#155b84;
}
.people_img{margin-top:15px;}
.logo{ margin:0 auto; text-align:center;}

.content_inner{width:480px; margin:10px auto 0 auto; border-radius:8px 8px 0 0;}
.contact_info{width:100%; background:#155b84;}
.contact_info ul{width:95%; display:table; padding:10px; margin:0 auto;}
.contact_info ul li{display:table-cell; width:25%; text-align:center;}
.heading h1{color:#245e9e; font-size:32px; font-family:'Conv_Code Pro LC', Helvetica, Arial, sans-serif;}
.heading h2{color:#4d4d4d; font-size:18px; font-family:'Conv_Code Pro LC', Helvetica, Arial, sans-serif;}
.author_img{float:right; border:8px solid #2980b4}
.author{padding:15px; background:#155b84;}
.author_detail{float:left; margin-left:10px;}
.author_detail h1{text-transform:uppercase; font:26px 'Conv_Code Pro LC', Helvetica, Arial, sans-serif; color:#fff;}
.author_detail h2{text-transform:capitalize; font:20px Arial, Helvetica, sans-serif; color:#8ccbf1;}
.author address{font:14px Arial, Helvetica, sans-serif; color:#fff; font-style:normal; margin:20px 0;}
.author p.disc{margin:20px 0 0px 10px; padding-bottom:20px; font:14px Arial, Helvetica, sans-serif; line-height:20px; color:#fff; border-bottom:1px solid #3693c9;}


.video_sec{background:#155b84; width:100%; margin:0px auto; border-radius:8px 8px 0 0;}
.video{width:100%; height:auto; text-align:center; padding:10px 0;}
.disclaimer{ background:#155b84; font-family:Arial, Helvetica, sans-serif; font-weight:normal; padding:0 10px 15px 10px;}


.footer{
	border-radius:0 0 10px 10px;
	min-height:67px;
	line-height:67px;
	margin:0 auto;
	width:100%;
	background:#89d6ee;
}
.footer ul{float:right; width:210px; height:67px; line-height:67px;}
.footer ul li{float:left; margin-left:3px; padding-top:15px;}
.footer a.main{float:left; margin-left:20px; color:#1c1c1c;}
.footer ul li a{background:url(../images/icons_sprite.png) no-repeat 0 1px; width:35px; height:35px; float:left; padding-top:3px; border:none; text-indent:-9999px; -moz-transition: background 0.2s ease; -webkit-transition: background 0.2s ease; -o-transition: background 0.2s ease; -ms-transition: background 0.2s ease; transition: background 0.2s ease;}
.footer ul li a.facebook{background-position: 0 1px;}
.footer ul li a.twitter{background-position:-37px 1px;}
.footer ul li a.google{background-position:-72px 1px;}
.footer ul li a.linkedin{background-position:-108px 1px;}
.footer ul li a.youtube{background-position:-144px 1px;}

.footer ul li a.facebook:hover{background-position: 0 -35px;}
.footer ul li a.twitter:hover{background-position: -37px -35px;}
.footer ul li a.google:hover{background-position: -72px -35px;}
.footer ul li a.linkedin:hover{background-position: -108px -35px;}
.footer ul li a.youtube:hover{background-position: -144px -35px;}


/********************** STYLES FOR NEW CONTENTS****************************/

.info_p{font-size:80%; width:95%; padding-left:10px;}
.info_p span{text-transform:uppercase;}
input#txt{width:57%; margin:10px 5px 10px 0px; height:33px; line-height:33px; padding-left:5px; float:left; border:1px solid #c7c7c7;}
::-webkit-input-placeholder {
   color: #4e4e4e; font:13px Arial, Helvetica, sans-serif; line-height:33px;
}
:-moz-placeholder { /* Firefox 18- */
   color: #4e4e4e; font:13px Arial, Helvetica, sans-serif; line-height:33px;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #4e4e4e; font:13px Arial, Helvetica, sans-serif; line-height:33px;
}
:-ms-input-placeholder {  
   color: #4e4e4e; font:13px Arial, Helvetica, sans-serif; line-height:33px; 
}

a.add_to_contact:hover{color:#FC0;}

.banner_box{width:100%; margin:0px auto; padding:10px 0; text-align:center; background:#155b84; clear:both;}
.banner_box img{width:95%;}

/********************** STYLES FOR NEW CONTENTS****************************/

input#sbmt{background:#003e5d; background:-moz-linear-gradient(top, #003e5d, #00283c 100%); background:-webkit-linear-gradient(top, #003e5d, #00283c 100%); background:-o-linear-gradient(top, #003e5d, #00283c 100%); background:-ms-linear-gradient(top, #003e5d, #00283c 100%); background:linear-gradient(top, #003e5d, #00283c 100%); height:35px; line-height:33px; width:38%; box-shadow:-1px -1px 2px rgba(0,0,0,.5); border-radius:5px; cursor:pointer; color:#fff; border:none; margin:10px 5px 0px 5px; font:16px Arial, Helvetica, sans-serif; font-weight:bold;}
input#sbmt:focus{box-shadow:-1px -1px 1px rgba(0,0,0,.5) inset;}
.btn_box{margin:0 auto; width:100%; clear:both; min-height:50px; line-height:50px;}